[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #326CE5;
    --md-accent-fg-color:        #326CE5;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #326CE5;
    --md-accent-fg-color:        #FFFFFF;
}
